/* app/globals.css */
@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }
}